# This job must be executed first time
# This job can be executed any subsquent times
# NOTE: we could consider implementing helm hooks https://helm.sh/docs/topics/charts_hooks/
{{ if .Values.mdrdb.dbTools.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "chart.fullname" . }}-update-ct-stats
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.mdrdb.cronjob.schedule.updateCtStats | quote }}
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  concurrencyPolicy: Forbid
  # https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#schedule-suspension
  suspend: true
  jobTemplate:
    spec:
      parallelism: 1
      completions: 1
      activeDeadlineSeconds: 36000
      backoffLimit: 5
      template:
        metadata:
          name: '{{ include "chart.fullname" . }}-update-ct-stats'
        spec:
          # https://docs.openshift.com/container-platform/4.14/nodes/jobs/nodes-nodes-jobs.html#jobs-limits_nodes-nodes-jobs
          restartPolicy: OnFailure
          securityContext: {{ toYaml .Values.mdrdb.dbTools.securityContext | nindent 12 }}
          containers:
          - name: update-ct-stats
            image: {{ .Values.mdrdb.dbTools.image.customImage }}
            command:
              - /bin/bash
              - -c
              - |
                sleep 10
                echo "Update CT stats on Neo4j MDR DB..."
                pipenv run update_ct_stats
                sleep 10
                echo "Update CT stats job completed."
            env:
            {{- range $key, $value := .Values.mdrdb.dbTools.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: NEO4J_MDR_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: neo4j-secret
                  key: password
            resources:
              limits:
                memory: "1024Mi"
                cpu: "500m"
              requests:
                memory: "1024Mi"
                cpu: "500m"
            securityContext: {{ .Values.mdrdb.dbTools.containerSecurityContext | toYaml  | nindent 14 }}
{{- end }}
