# This job imports studybuilder data into the MDR database
# This job can be triggered manually by unsuspending the cronjob
# NOTE: we could consider implementing helm hooks https://helm.sh/docs/topics/charts_hooks/
{{ if .Values.mdrdb.sbImport.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "chart.fullname" . }}-studybuilder-import
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.mdrdb.cronjob.schedule.studybuilderImport | quote }}
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  concurrencyPolicy: Forbid
  # https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#schedule-suspension
  suspend: true
  jobTemplate:
    spec:
      parallelism: 1
      completions: 1
      activeDeadlineSeconds: 36000
      backoffLimit: 5
      template:
        metadata:
          name: '{{ include "chart.fullname" . }}-studybuilder-import'
        spec:
          # https://docs.openshift.com/container-platform/4.14/nodes/jobs/nodes-nodes-jobs.html#jobs-limits_nodes-nodes-jobs
          restartPolicy: OnFailure
          securityContext: {{ toYaml .Values.mdrdb.sbImport.securityContext | nindent 12 }}
          containers:
          - name: studybuilder-import
            image: {{ .Values.mdrdb.sbImport.image.customImage }}
            command:
              - /bin/bash
              - -c
              - |
                sleep 10
                echo "Running StudyBuilder data import into Neo4j MDR DB..."
                pipenv run import_all
                sleep 10
                echo "StudyBuilder import job completed."
            env:
            {{- range $key, $value := .Values.mdrdb.sbImport.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: CLIENT_ID
              value: {{ .Values.sb.env.OAUTH_UI_APP_ID | quote }}
            - name: TOKEN_ENDPOINT
              value: "https://login.microsoftonline.com/{{ .Values.api.azureTenant }}/oauth2/v2.0/token"
            - name: SCOPE
              value: "api://{{ .Values.sb.env.OAUTH_API_APP_ID }}/.default"
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.api.existingUiClientSecret | default "osb-api-ui-secret" }}
                  key: client-secret
            resources:
              limits:
                memory: "512Mi"
                cpu: "500m"
              requests:
                memory: "256Mi"
                cpu: "200m"
            securityContext: {{ .Values.mdrdb.sbImport.containerSecurityContext | toYaml  | nindent 14 }}
{{- end }}
